<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="io.kimmking.jrl.homework.bean0"/>

    <bean id="student4homework_1" class="io.kimmking.spring01.Student">

    </bean>
    <bean id="student4homework_2" class="io.kimmking.spring01.Student">
        <property name="id" value="2">
        </property>
        <property name="name" value="student2">
        </property>
    </bean>
    <bean id="favoriteStudent" class="io.kimmking.spring01.Student">
        <constructor-arg value="student3" name="name">

        </constructor-arg>
        <constructor-arg name="id" value="3">

        </constructor-arg>
    </bean>
    <!--实现 Spring Bean 的装配:
          方式一：xml
   -->

</beans>